<%- include('../partials/header') -%>
<%- include('../partials/adminnavbar') -%>
    
    <div class="container">
        <div class="ui four doubling stackable cards moveFour">
            <div class="card adminIndexCard"> 
                <div class="content text-center">
                    <div class="header">Website State</div>
                    <div class="meta">
                        <% const today = new Date()%>
                        <span class="date">Date: <%= today.getFullYear() %> - <%= today.getMonth() + 1 %> - <%= today.getDate() %></span>
                    </div>
                    <div class="ui statistic text-center">
                        <i class="fas fa-circle webState"></i>
                        <div class="label">
                            <h6 class="ui header stateMsg">OFFLINE</h6>
                        </div>
                        <form action="/adminhub/changestate?_method=PUT" method="POST">
                            <button class="mini ui toggle button stateBtn loadingBtns"></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card adminIndexCard"> 
                <div class="content text-center">
                    <div class="header">Votes</div>
                    <div class="ui statistic text-center">
                        <div class="value">
                            <%= votes.length %>
                        </div>
                        <div class="label">
                            <h6 class="ui header">Total Number of Votes</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card adminIndexCard"> 
                <div class="content text-center">
                    <div class="header">Booths</div>
                    <div class="ui statistic text-center">
                        <div class="value">
                            <%= booths.length %>
                        </div>
                        <div class="label">
                            <h6 class="ui header">Total Number of Booths</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card adminIndexCard"> 
                <div class="content text-center">
                    <div class="header">Awards</div>
                    <div class="ui statistic text-center">
                        <div class="value">
                            <%= awards.length %>
                        </div>
                        <div class="label">
                            <h6 class="ui header">Total Number of Awards</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <h1>Welcome Back Admin!</h1>
    <form action="/adminhub/changestate?_method=PUT" method="POST">
        <button class="ui primary button stateBtn"></button>
    </form>
    <h3 class="stateMsg"></h3> -->

<%- include('../partials/footer') -%>