<%- include('../partials/header') -%>
    <div class="container">
            <% if(!isVoted){ %>
                <h1 class="ui header center aligned editHeader"><%= award.awardName %> Award</h1>
                <form action="/award/vote/<%= award._id %>" class="voteForm" method="POST">
                    <div class="voteBtn">
                        <button class="ui primary button">Submit</button>
                    </div>
                    <div class="ui four doubling stackable cards">
                        <% booths.forEach((booth) => { %>
                            <div class="card">    
                                <div class="image">
                                    <img class="cardImg" src="<%= booth.image %>">
                                </div>
                                <div class="content">
                                    <a class="header"><%= booth.boothName %></a>
                                    <div class="meta">
                                        <span class="date"><%= booth.subInformation %></span>
                                    </div>
                                    <div class="description">
                                        <%= booth.information %>
                                    </div>
                                </div>
                                <div class="extra content center aligned">
                                    <a>
                                        <label for="<%= booth._id %>" class="voteCardTitle"><i class="heart like icon"></i></label>
                                        <input class="radioCard" type="radio" name="booth" id="<%= booth._id %>" value="<%= booth._id %>" required>
                                    </a>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </form>
            <% } else { %> 
                <div class="center aligned vertical-center">
                    <img class="votedImg" src="/img/checkmark.png">
                    <h2 class="ui header">
                        <div class="content">
                            You've successfully voted in this award!
                            <div class="sub header">Thanks a lot!</div>
                        </div>
                    </h2>
                    <a class="ui twitter button loadingBtns" href="/">Vote on another award</a>
                </div>
            <% } %>
    </div>
        
<%- include('../partials/footer') -%>
